<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitos</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/estilos_pagprin.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    
    <header class="header" id="inicio">
        <img class="hamburguer" src="{{ url_for('static',filename='img/hamburguesa.svg') }}" alt="">
        <nav class="menu-navegacion" id="menu-navegacion">
                <a href="/signin">Iniciar sesión</a>
                <a href="/signup">Registrarme</a>
        </nav>
        <div class="contenedor head">
            <h1 class="titulo">Bienvenido de nuevo</h1>
            <p class="copy">Veamos cuantas metas se estan cumplido...veamos cuantas metas se estan logrando.</p>
        </div>
        
    </header>
    <main>
        <section class="gallery" id="galeria">
            <div class="contenedor">
                <h2 class="subtitulo">Descubre como se majeja nuestro sistema</h2>
                <div class="contenedor-galeria">
                    <iframe width="760" height="515" src="https://www.youtube.com/embed/iWjpyUK-oVU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
		
        </section>

		
            </div>
        </section>
        <div class="imagen-light">
            <img src="{{ url_for('static',filename='img/close.svg') }}" alt="" class="close">
            <img src="" alt="" class="agregar-imagen">
        </div>
    </main>
    <footer id="footer">
        <div class="contenedor footer-content">
                <div class="contact-us">
                    <h2 class="brand">Contactanos</h2>
                    <p>Si tienes dudas o sugerencias que nos quieras compartir te dejamos nuestras redes sociales</p>
                </div>
                <div class="social-media">
                    <a href="/" class="social-media-icon">
                        <i class='bx bxl-facebook'></i>
                    </a>
                    <a href="/" class="social-media-icon">
                        <i class='bx bxl-twitter' ></i>
                    </a>
                    <a href="/" class="social-media-icon">
                        <i class='bx bxl-instagram' ></i>
                    </a>
                </div>
        </div>
        <div class="line"></div>
    </footer>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
    <script src="{{ url_for('static',filename='method/conecction.js') }}"></script>
    <script src="{{ url_for('static',filename='method/index.js') }}"></script>
    <script src="{{ url_for('static',filename='js/menu-index.js') }}" ></script>
    <script src="{{ url_for('static',filename='js/lightbox-index.js') }}"></script>
</body>
</html>