<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página web</title>
    <link rel="stylesheet" href="../public/css/estilos_pagprin.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    
    <header class="header" id="inicio">
        <img class="hamburguer" src="../public/img/hamburguesa.svg" alt="">
        <nav class="menu-navegacion" id="menu-navegacion">
                <a href="./signin.html">Iniciar sesión</a>
                <a href="./signup.html">Registrarme</a>
        </nav>
        <div class="contenedor head">
            <h1 class="titulo">Bienvenido de nuevo</h1>
            <p class="copy">Veamos cuantas metas se estan cumplido...veamos cuantas metas se estan logrando.</p>
        </div>
        
    </header>
    <main>
        <section class="gallery" id="galeria">
            <div class="contenedor">
                <h2 class="subtitulo">Portafolio de Actividades</h2>
                <div class="contenedor-galeria">
                    <img src="../public/img/uno.jpg" class="img-galeria" alt="Hola">
                    <img src="../public/img/dos.jpg" class="img-galeria" alt="">
                    <img src="../public/img/tres.jpg" class="img-galeria" alt="">
                </div>
		<section class="contenedor" id="expertos">
            <section class="experts">
                <div class="cont-expert">
                    <a class="n-expert" href="../Asignarhabito/index.html">Asignar Habitos</a> 
                </div>
                <div class="cont-expert">
                    <a class="n-expert" href="../validarevidencia/index.html">Validar Evidencia<a>
                </div>
                <div class="cont-expert">
                    <a class="n-expert" href="../consultap/consulta.html">Consultar Progreso de los Estudiantes</a>
                </div>
            </section>
        </section>

		
            </div>
        </section>
        <div class="imagen-light">
            <img src="../public/img/close.svg" alt="" class="close">
            <img src="" alt="" class="agregar-imagen">
        </div>
    </main>
    <footer id="footer">
        <div class="contenedor footer-content">
                <div class="contact-us">
                    <h2 class="brand">Contactanos</h2>
                    <p>Si tienes dudas o sugerencias que nos quieras compartir te dejamos nuestras redes sociales</p>
                </div>
                <div class="social-media">
                    <a href="./" class="social-media-icon">
                        <i class='bx bxl-facebook'></i>
                    </a>
                    <a href="./" class="social-media-icon">
                        <i class='bx bxl-twitter' ></i>
                    </a>
                    <a href="./" class="social-media-icon">
                        <i class='bx bxl-instagram' ></i>
                    </a>
                </div>
        </div>
        <div class="line"></div>
    </footer>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
    <script src="../method/conecction.js"></script>
    <script src="../method/index.js"></script>
    <script src="../public/js/menu-index.js"></script>
    <script src="../public/js/lightbox-index.js"></script>
</body>
</html>