table{
    border-collapse: collapse;
    width: 90%;
    border: 0px;
    margin: auto;

}

td, th{
    border: 0;
    padding: 8px;
}

th{
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

#tabla-habitos-asignados th{
    color: indigo;
}

input{
    width: 100%;
    height: 35px;
    text-align: center;
    border:1px solid rgba(3, 200, 226, 0.514);
    border-radius: 5px;
}

input:hover{
    border-color: hotpink;
}

#tabla-grupos{
    width: 500px;
}

tr{
    border-bottom: 1px dashed rgba(128, 128, 128, 0.5);
}